{
  "env": {
    "test": {
      "presets": ["env"],
      "plugins": ["transform-runtime", "istanbul"]
    },
    "rollup": {
      "presets": [["env", { "modules": false }]],
      "plugins": ["external-helpers"]
    }
  }
}